##  class ScriptData

In [1]:
from alpha_vantage.timeseries import TimeSeries
import json
import pandas as pd


class ScriptData:
    #dictionary to store df of all scripts
    data_dict = {}
    
    def __init__(self):
        self.ts = TimeSeries(key='YXYO83L4QEYC16GP')
    
    def fetch_intraday_data(self,script):
        # fetching data using api
        self.data_dict[script] = (self.ts.get_intraday(script))[0]
    
    def convert_intraday_data(self,script):
        # converting json form data to dataframe type
        df = pd.read_json(json.dumps(self.data_dict[script],indent = 4))
        
        df = df.transpose()
        df.reset_index(inplace = True)
        df.columns = ['timestamp','open','high','low','close','volume']        
        
        # storing that data in data_dict
        self.data_dict[script] = df
        
    def __getitem__(self,key):
        # returning dataframe
        df = self.data_dict[key]
        return df
        
    def __setitem__(self,key,value):
        # setting new dataframe for key
        self.data_dict[key] = value
        
    def __contains__(self,key):
        # overloading in operator
        if key in self.data_dict.keys():
            return True
        return False

### Creating object of class ScriptData

In [2]:
script_data = ScriptData()

### Display data

In [3]:
script_data.fetch_intraday_data('GOOGL')
script_data.convert_intraday_data('GOOGL')
script_data['GOOGL']

             timestamp     open     high      low   close    volume
0  2022-12-22 20:00:00  87.6300  87.6400  87.5000  87.550    3869.0
1  2022-12-22 19:45:00  87.6100  87.6600  87.6000  87.660     878.0
2  2022-12-22 19:30:00  87.6700  87.7100  87.6700  87.710    1043.0
3  2022-12-22 19:15:00  87.7400  87.7500  87.7400  87.750    2483.0
4  2022-12-22 19:00:00  87.7100  87.7600  87.6200  87.740    2687.0
..                 ...      ...      ...      ...     ...       ...
95 2022-12-21 11:45:00  89.6995  90.0679  89.6800  89.930  819896.0
96 2022-12-21 11:30:00  89.7350  89.7800  89.4201  89.690  617082.0
97 2022-12-21 11:15:00  89.5900  89.8300  89.5700  89.730  812520.0
98 2022-12-21 11:00:00  89.5950  89.7100  89.3801  89.580  652984.0
99 2022-12-21 10:45:00  89.2250  89.7050  89.1500  89.595  901117.0

[100 rows x 6 columns]

In [4]:
script_data.fetch_intraday_data('AAPL')
script_data.convert_intraday_data('AAPL')
script_data['AAPL']

             timestamp     open     high      low     close     volume
0  2022-12-22 20:00:00  131.540  131.570  131.250  131.3000    34478.0
1  2022-12-22 19:45:00  131.570  131.700  131.510  131.5500    13169.0
2  2022-12-22 19:30:00  131.760  131.770  131.530  131.6000    15805.0
3  2022-12-22 19:15:00  132.000  132.010  131.730  131.7800    16303.0
4  2022-12-22 19:00:00  132.090  132.160  132.030  132.0300    27526.0
..                 ...      ...      ...      ...       ...        ...
95 2022-12-21 12:15:00  135.530  135.554  135.180  135.4100  3800848.0
96 2022-12-21 12:00:00  135.860  135.940  135.281  135.5288  2486849.0
97 2022-12-21 11:45:00  135.945  136.160  135.510  135.8500  2223386.0
98 2022-12-21 11:30:00  136.265  136.395  135.715  135.9410  2533202.0
99 2022-12-21 11:15:00  136.600  136.810  136.120  136.2700  3860835.0

[100 rows x 6 columns]

### in operator

In [5]:
'GOOGL' in script_data

True

In [6]:
'AAPL' in script_data

True

In [7]:
'NAV' in script_data

False

## function - indicator1

In [8]:
def indicator1(df, timeperiod) :
    # list to store data
    list1 = []
    
    # calculating average
    sum1 = 0
    
    # iterating over rows of df
    for index,row in df.iterrows():
        if (index+1) % timeperiod == 0:
            sum1 += row['close']
            avg = sum1 / timeperiod
            new_row = [row['timestamp'], avg]
            list1.append(new_row)
            sum1 = 0
            
        else:
            sum1 += row['close']
            new_row = [row['timestamp']]
            list1.append(new_row)
    
    # creating df from list1
    df1 = pd.DataFrame(list1,columns = ['timestamp','indicator'])
        
    return df1

### Calling function

In [9]:
indicator1(script_data['GOOGL'],timeperiod = 5)

             timestamp  indicator
0  2022-12-22 20:00:00        NaN
1  2022-12-22 19:45:00        NaN
2  2022-12-22 19:30:00        NaN
3  2022-12-22 19:15:00        NaN
4  2022-12-22 19:00:00     87.682
..                 ...        ...
95 2022-12-21 11:45:00        NaN
96 2022-12-21 11:30:00        NaN
97 2022-12-21 11:15:00        NaN
98 2022-12-21 11:00:00        NaN
99 2022-12-21 10:45:00     89.705

[100 rows x 2 columns]

In [10]:
indicator1(script_data['AAPL'],timeperiod = 5)

             timestamp  indicator
0  2022-12-22 20:00:00        NaN
1  2022-12-22 19:45:00        NaN
2  2022-12-22 19:30:00        NaN
3  2022-12-22 19:15:00        NaN
4  2022-12-22 19:00:00  131.65200
..                 ...        ...
95 2022-12-21 12:15:00        NaN
96 2022-12-21 12:00:00        NaN
97 2022-12-21 11:45:00        NaN
98 2022-12-21 11:30:00        NaN
99 2022-12-21 11:15:00  135.79996

[100 rows x 2 columns]

## class strategy

In [11]:
class Strategy(ScriptData):
    
    def __init__(self,script):
        self.script = script
    
    def get_script_data(self):
        
        # fetchig df of script from ScriptData class
        self.df1 = ScriptData.__getitem__(self,self.script)
        
        # fetching df of script from indicator1 function
        self.df2 = indicator1(self.df1,5)
    
    def get_signals(self):
        # list to store data 
        list1 = []
        
        # diff = avg - close
        diff = (self.df2._get_value((0 + 4 - (0 % 5)),'indicator')) - (self.df1._get_value(0,'close'))
        
        for i in range(1,len(self.df1)):
            
            avg = self.df2._get_value((i + 4 - (i % 5)),'indicator') # avg for current index
            close = self.df1._get_value(i,'close')                   # close value of current index
            
            # indicator_data has cut close_data â€˜upwardsâ€™
            if (avg >= close) and diff < 0:
                list1.append([self.df1._get_value(i,'timestamp'),'BUY'])
            # indicator_data has cut close_data â€˜downwardsâ€™
            elif (close >= avg) and diff > 0:
                list1.append([self.df1._get_value(i,'timestamp'),'SELL'])
                
            # setting new diff value
            diff = avg - close
        
        # creating df using list1 and returning it
        df = pd.DataFrame(list1,columns = ['timestamp','signal'])
        return df

### Creating object and strategy table for 'AAPL'

In [12]:
strategy = Strategy('AAPL')
strategy.get_script_data()
strategy.get_signals()

             timestamp signal
0  2022-12-22 19:15:00   SELL
1  2022-12-22 18:30:00    BUY
2  2022-12-22 18:15:00   SELL
3  2022-12-22 17:30:00    BUY
4  2022-12-22 17:00:00   SELL
5  2022-12-22 16:30:00    BUY
6  2022-12-22 16:15:00   SELL
7  2022-12-22 15:45:00    BUY
8  2022-12-22 15:30:00   SELL
9  2022-12-22 15:15:00    BUY
10 2022-12-22 15:00:00   SELL
11 2022-12-22 14:45:00    BUY
12 2022-12-22 14:30:00   SELL
13 2022-12-22 14:00:00    BUY
14 2022-12-22 13:45:00   SELL
15 2022-12-22 13:30:00    BUY
16 2022-12-22 13:00:00   SELL
17 2022-12-22 12:30:00    BUY
18 2022-12-22 12:15:00   SELL
19 2022-12-22 11:45:00    BUY
20 2022-12-22 11:30:00   SELL
21 2022-12-22 11:15:00    BUY
22 2022-12-22 10:30:00   SELL
23 2022-12-22 10:00:00    BUY
24 2022-12-22 09:30:00   SELL
25 2022-12-22 09:00:00    BUY
26 2022-12-22 08:30:00   SELL
27 2022-12-22 07:30:00    BUY
28 2022-12-22 07:15:00   SELL
29 2022-12-22 06:30:00    BUY
30 2022-12-22 06:00:00   SELL
31 2022-12-22 05:00:00    BUY
32 2022-12-22 04:45:00   SELL
33 2022-12-22 04:30:00    BUY
34 2022-12-22 04:15:00   SELL
35 2022-12-21 19:45:00    BUY
36 2022-12-21 19:15:00   SELL
37 2022-12-21 18:30:00    BUY
38 2022-12-21 18:15:00   SELL
39 2022-12-21 17:45:00    BUY
40 2022-12-21 17:30:00   SELL
41 2022-12-21 17:15:00    BUY
42 2022-12-21 16:45:00   SELL
43 2022-12-21 16:30:00    BUY
44 2022-12-21 16:15:00   SELL
45 2022-12-21 15:30:00    BUY
46 2022-12-21 15:15:00   SELL
47 2022-12-21 15:00:00    BUY
48 2022-12-21 14:45:00   SELL
49 2022-12-21 14:30:00    BUY
50 2022-12-21 14:15:00   SELL
51 2022-12-21 14:00:00    BUY
52 2022-12-21 13:15:00   SELL
53 2022-12-21 12:30:00    BUY
54 2022-12-21 11:45:00   SELL